<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles.css">
  <img src="Moveo-Logo.jpg" alt="Snow" style="background: ffe7e8 ; width:10%">

  <title>Draw&Guess | <%= title %></title>

</head>