<nav>
    <div class="site-title">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/styles.css">
      <a href="/"><h2>Draw & Guess </h2></a>
      <p>  A project for Moveo </p>

    </div>
    
    <ul>

      <li><a href="/Instructions">Instructions</a></li>
      <li><a href="/">EXIT</a></li>
    
    </ul>
</nav>


