<html lang="en">
  <%- include('./partials/header.ejs') %>

<body>
  
  <%- include('./partials/navigate.ejs') %>
  <div class="site-title"></div>
  <h1>Guess the word by the following draw</h2>


      <p></p>
      <label for="guess-input">Enter your guess:</label><input type="text" id="guess-input" required />
      <p>
          <a href="/word-choosing-view.ejs">
            <button>Click me</button>
          </a>
        </div>

      <%- include('./partials/footer.ejs') %>

</body>

</html>