<html lang="en">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<head>
  <%- include('./partials/header.ejs') %>

  <%- include('./partials/navigate.ejs') %>

</head>

  <body>
    <link rel="stylesheet" href="/styles.css">
    <link rel="icon" type="image/x-icon" href="/favicon.ico">

      <div class="site-title"></div>
      <h3> Instructions</h3>
      <h3 >
        ‘Draw & Guess’ game for 2 players-
      </h3>

    <h4 style="font-size: larger;">
        The first player starts the game by choosing between 3 given words, words vocabulary is provided below:
        - Easy: 3-4 letters.
        - Medium: 5 letters
        - Hard: 6 or more letters.
<br>
        Then he will try to draw the word’s meaning.
        When clicking send, the second player will see the drawing and will try to guess the word. Once succeed, he will
        get to pick a new word, draw it, and so on.
        <br>
    </h4>
    <br><br><br>
      <h2>
        The game is not finished yet and there are some bugs that will be fixed soon.

      </h2>

      <br><br>



      <a href="../">
        <button>Go back</button>
      </a>

      <%- include('./partials/footer.ejs') %>

  </body>

</html>