<html lang="en">
  <%- include('./partials/header.ejs') %>

<body>
  
  <%- include('./partials/navigate.ejs') %>
  <div class="site-title"></div>
  <h1>Waiting for the other player</h2>


      <p></p>
      <label for="name-input">Enter your name:</label><input type="text" id="name-input" required />
      <p>
          <a href="/word-choosing-view.ejs">
            <button>Click me</button>
          </a>
        </div>

      <div class="about content">
        <h2>About Us</h2>

      </div>

      <%- include('./partials/footer.ejs') %>

</body>

</html>