<!DOCTYPE html>
<html lang="en">

<%- include('./partials/header.ejs') %>
<%- include('./partials/navigate.ejs') %>

<body>

  <div class="site-title"></div>
  <h1>Waiting the other player to guess correct...</h2>


          <a href="/waiting-view">
            <button>Refresh</button>
          </a>

      <%- include('./partials/footer.ejs') %>

</body>

</html>