<!DOCTYPE html>

<html lang="en">
<body>
  <%- include('./partials/header.ejs') %>

  <%- include('./partials/navigate.ejs') %>
  <div class="site-title"></div>
  <h1>Waiting for the other player...</h2>


          <a href="/waiting-view">
            <button>Refresh</button>
          </a>

      <%- include('./partials/footer.ejs') %>

</body>

</html>