<!DOCTYPE html>

<html lang="en">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/x-icon" href="/favicon.ico">
  <%- include('./partials/header.ejs') %>
  <link rel="icon" type="image/x-icon" href="/favicon.ico">

</head>

<body>
  <link rel="stylesheet" href="/styles.css">
  <%- include('./partials/navigate.ejs') %>

    <div class="site-title"></div>
    <h8><strong> Draw & Guess</strong></h8>

    <form id="choose-player-form" autocomplete="off" action="/word-choosing-view" method="POST">
      <br>
      <br>
      <h3 for="enter-name"><strong>Enter your name:</strong> <input type="text" id="name-input" name='name' required />
        <button type="button" id="StartButton" onClick="StartGame()"><strong>START
            PLAY</strong></button>
      </h3>

      <h3>
        <label id="choose-player-label" for="choose-player" style="visibility: hidden;">Choose a role:</label> <br>
        <button type="submit" name="button" id="Drawer" value="Drawer" style="visibility: hidden;">Drawer</button>
        <button type="submit" name="button" id="Guesser" value="Guesser" style="visibility: hidden;">Guesser</button>
      </h3>

    </form>

    <br>
    <%- include('./partials/footer.ejs') %>

      <script>
        function StartGame() {
          document.getElementById('StartButton').style.visibility = "hidden";
          document.getElementById('Drawer').style.visibility = "visible";
          document.getElementById('Guesser').style.visibility = "visible";
          document.getElementById('choose-player-label').style.visibility = "visible";

          document.getElementById('enter-name').style.visibility = "hidden";
          document.getElementById('name-input').style.visibility = "hidden";
          document.getElementById('choose-player-form').style.visibility = "visible";
        }

      </script>




</body>

</html>