@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap');

  body {
    width: 100%;
    height: 100%;
    padding: 1em;;
    margin: 10px auto;
    font-size: smaller;
    font-family: 'Noto Serif', serif;
    flex: content;
    max-width: 673px;
    max-height: 490px;
    background-image: url("background.png");
    background-attachment:local;
    background-repeat:no-repeat ;
    background-size: cover;
  }

  .word {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    color: #0000ff;
    font-weight: bold;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    text-transform: uppercase;
  }

  canvas {
    border: 1px solid black;
    margin: 2em;
    display: block;
    max-width: 623px;
    max-height: 490px;
    ;


  }

  h1 {
    position: center;
    font-size: 40px;
    background-attachment: fixed;
    color: rgb(58, 59, 121);
  }

  h2 {
    margin: 10px;
     width: 300px; 
     max-width: 480px;
    font-size: 30px;
    position: center center;
    color: rgb(138, 24, 86);
  }


  h3 { font-size: 30px;
     letter-spacing: -1px;
      color: #d46448; text-transform: uppercase; 
      text-shadow: 1px 1px 0 #000;
       margin: 10px 0 24px; 
        line-height: 50px; }

  h4{
    color: #701111; 
    font-family: 'Lato', sans-serif; 
    font-size: 74px; font-weight: 300;
     line-height: 58px;
      margin: 0 0 58px; 
  }

  p,
  
  a,
  ul {
    margin: 10;
    padding: 0;
    width: 300px;
    max-width: 500px;

    position: center;
    text-decoration: none;
    color: rgb(107, 54, 38);
  }

  h7 {
    font-size: 40px;
    text-shadow: #00afe4;
    color: rgb(189, 45, 105);
  }

  h7::before {
    content: "Draw: ";
    position: top;
    font-size: 25px;
    color: rgb(57, 52, 126);
  }

  h8 {
    font-size: 8em;
    text-shadow: #00afe4;
    color: rgb(163, 0, 82);
  }

  h8::before {
    content: "Welcome to ";
    position: top;
    font-size: 55px;
    text-shadow: #0000ff;
    color: rgb(66, 194, 233);
  }

  /* navigate & footer styles */
  nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    padding-bottom: 5px;
    border-bottom: 1px solid #ddd;
    text-transform: uppercase;
  }

  nav ul {

    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  nav li {

    list-style-type: none;
    margin-left: 20px;
    /* font: size 5px; ; */
  }

  nav h1 {
    font-size: 10em;
  }

  nav p,
  nav a {
    color: #777;
    font-weight: 300;
  }

  footer {
    color: #777;
    text-align: center;
    font-size: 0.7em;
    margin: 90px auto 15px;

  }
  button {
    position: relative;
    align-self: center;
    max-width: 673px;
    max-height: 980px;
    align-items: center;
    align-self: center;
    background-color: rgb(120, 211, 247);

  }

  h3 {
    text-transform: capitalize;
    margin-bottom: 8px;
  }

  .content {
    margin-left: 20px;
  }

  .container {
    max-width: 500px;
    margin: auto;
    margin-bottom: 3rem;
  }

  .inner-container {
    margin: 0 2rem;

  }
